.navItem {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  align-items: center;
  align-content: center;
  color: var(--color-main-darker, #282a3c);
  font-weight: 600;
  border-radius: 4px;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
  }
}

.navItem :hover {
  cursor: pointer;
}
